<a href="https://colab.research.google.com/github/mjiii25/prac_class/blob/main/LGBM%20%EB%AA%A8%EB%8D%B8%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import math
import os
import matplotlib.pyplot as plt

from sklearn.metrics import mean_absolute_error
from lightgbm import LGBMRegressor
from sklearn.model_selection import KFold

In [3]:
train = pd.read_csv('/content/drive/MyDrive/energy/new_test.csv의 사본')
test = pd.read_csv('/content/drive/MyDrive/energy/new_train.csv의 사본')
submission = pd.read_csv('/content/drive/MyDrive/energy/sample_submission.csv')

In [4]:
train

       num            date_time  temperature  ...        CDH         TW  corona
0        1  2020-08-25 00:00:00    27.800000  ...   1.800000  30.027122       2
1        1  2020-08-25 01:00:00    27.633333  ...   3.433333  29.859547       2
2        1  2020-08-25 02:00:00    27.466667  ...   4.900000  29.694705       2
3        1  2020-08-25 03:00:00    27.300000  ...   6.200000  29.533017       2
4        1  2020-08-25 04:00:00    26.900000  ...   7.100000  29.116617       2
...    ...                  ...          ...  ...        ...        ...     ...
10075   60  2020-08-31 19:00:00    28.633333  ...  22.400000  30.894924       2
10076   60  2020-08-31 20:00:00    28.266667  ...  25.400000  30.486546       2
10077   60  2020-08-31 21:00:00    27.900000  ...  27.700000  30.074281       2
10078   60  2020-08-31 22:00:00    27.900000  ...  29.300000  30.074281       2
10079   60  2020-08-31 23:00:00    27.900000  ...  30.200000  30.074281       2

[10080 rows x 25 columns]

In [5]:
test

        num            date_time    target  ...   CDH         TW  corona
0         1  2020-06-01 00:00:00  8179.056  ...  -8.4  18.973374       1
1         1  2020-06-01 01:00:00  8135.640  ... -16.7  18.960338       1
2         1  2020-06-01 02:00:00  8107.128  ... -25.2  18.658598       1
3         1  2020-06-01 03:00:00  8048.808  ... -34.1  18.218957       1
4         1  2020-06-01 04:00:00  8043.624  ... -43.1  18.081523       1
...     ...                  ...       ...  ...   ...        ...     ...
122395   60  2020-08-24 19:00:00  4114.368  ...  30.8  30.000891       2
122396   60  2020-08-24 20:00:00  3975.696  ...  32.3  29.525251       2
122397   60  2020-08-24 21:00:00  3572.208  ...  32.5  29.487603       2
122398   60  2020-08-24 22:00:00  3299.184  ...  31.3  29.276183       2
122399   60  2020-08-24 23:00:00  3204.576  ...  29.2  29.234583       2

[122400 rows x 26 columns]

#### 군집화 결과 (수연님)

In [6]:
# 1번 군집 
list1 = [1, 31, 30, 60, 3, 5, 24,32, 33, 15]
cl1 = train[train['num'].isin(list1)==True]
print(train.shape, cl1.shape)
print('1번 군집은 전체 데이터의 {0:.2f}'.format(cl1.shape[0]/train.shape[0] *100 )+' %를 차지함')

(10080, 25) (1680, 25)
1번 군집은 전체 데이터의 16.67 %를 차지함

In [7]:
# 2번 군집 
list1 = [2, 6, 7, 8, 13, 14, 16, 17, 18, 22, 23, 25, 26, 27, 37, 46, 47, 48, 52, 53, 54, 55, 56, 57 ,35, 38, 43, 44, 39, 45]
cl2 = train[train['num'].isin(list1)==True]
print(train.shape, cl2.shape)
print('2번 군집은 전체 데이터의 {0:.2f}'.format(cl2.shape[0]/train.shape[0] *100 )+' %를 차지함')

(10080, 25) (5040, 25)
2번 군집은 전체 데이터의 50.00 %를 차지함

In [8]:
# 3번 군집
l2 = [19,20,21,29,36,40,41,49,50,58,59]
cl3 = train[train['num'].isin(l2)==True]
print(train.shape, cl3.shape)
print('3번 군집은 전체 데이터의 {0:.2f}'.format(cl3.shape[0]/train.shape[0] *100 )+' %를 차지함')

(10080, 25) (1848, 25)
3번 군집은 전체 데이터의 18.33 %를 차지함

In [9]:
# 4번 군집
l3 = [14,9,10,11,12,30,42]
cl4 = train[train['num'].isin(l3)==True]
print(train.shape, cl4.shape)
print('4번 군집은 전체 데이터의 {0:.2f}'.format(cl4.shape[0]/train.shape[0] *100 )+' %를 차지함')

(10080, 25) (1176, 25)
4번 군집은 전체 데이터의 11.67 %를 차지함

In [10]:
# 5번 군집
l4 = [5,21,28,32,51, 34]
cl5 = train[train['num'].isin(l4)==True]
print(train.shape, cl5.shape)
print('5번 군집은 전체 데이터의 {0:.2f}'.format(cl5.shape[0]/train.shape[0] *100 )+' %를 차지함')

(10080, 25) (1008, 25)
5번 군집은 전체 데이터의 10.00 %를 차지함

In [11]:
# 군집 5개 완성!
cl1.reset_index(inplace=True, drop=True)
cl2.reset_index(inplace=True, drop=True)
cl3.reset_index(inplace=True, drop=True)
cl4.reset_index(inplace=True, drop=True)
cl5.reset_index(inplace=True, drop=True)

In [12]:
# 기술통계량 확인
train.describe()

                num   temperature  ...            TW   corona
count  10080.000000  10080.000000  ...  10080.000000  10080.0
mean      30.500000     27.805813  ...     30.073108      2.0
std       17.318961      2.275416  ...      2.402481      0.0
min        1.000000     22.100000  ...     24.521506      2.0
25%       15.750000     26.133333  ...     28.329378      2.0
50%       30.500000     27.466667  ...     29.646428      2.0
75%       45.250000     29.100000  ...     31.386323      2.0
max       60.000000     35.400000  ...     38.282359      2.0

[8 rows x 23 columns]

In [13]:
cl1.describe()

               num  temperature    windspeed  ...          CDH           TW  corona
count  1680.000000  1680.000000  1680.000000  ...  1680.000000  1680.000000  1680.0
mean     23.400000    27.883095     2.973750  ...    21.824544    30.125565     2.0
std      17.135191     2.228436     2.499206  ...    21.159369     2.397801     0.0
min       1.000000    23.900000     0.000000  ...   -18.400000    25.767393     2.0
25%       5.000000    26.200000     1.366667  ...     5.300000    28.326416     2.0
50%      27.000000    27.500000     2.400000  ...    17.416667    29.673620     2.0
75%      32.000000    29.166667     3.766667  ...    33.625000    31.465632     2.0
max      60.000000    34.600000    22.500000  ...    80.100000    37.332811     2.0

[8 rows x 23 columns]

In [14]:
cl2.describe()

               num  temperature    windspeed  ...          CDH           TW  corona
count  5040.000000  5040.000000  5040.000000  ...  5040.000000  5040.000000  5040.0
mean     32.433333    27.883254     2.188552  ...    22.016759    30.169107     2.0
std      17.040242     2.322270     1.568339  ...    21.401624     2.434872     0.0
min       2.000000    22.500000     0.000000  ...   -23.600000    25.178917     2.0
25%      17.000000    26.158333     1.000000  ...     6.200000    28.355172     2.0
50%      36.000000    27.500000     1.800000  ...    18.633333    29.737835     2.0
75%      47.000000    29.233333     2.966667  ...    34.600000    31.558329     2.0
max      57.000000    35.400000     9.800000  ...    88.600000    38.246421     2.0

[8 rows x 23 columns]

In [15]:
cl3.describe()

               num  temperature    windspeed  ...          CDH           TW  corona
count  1848.000000  1848.000000  1848.000000  ...  1848.000000  1848.000000  1848.0
mean     38.363636    27.688149     2.498972  ...    19.881692    29.946983     2.0
std      14.070355     2.239035     1.571174  ...    20.762042     2.358217     0.0
min      19.000000    22.500000     0.000000  ...   -28.600000    25.181713     2.0
25%      21.000000    26.125000     1.300000  ...     6.200000    28.282663     2.0
50%      40.000000    27.400000     2.300000  ...    17.300000    29.609267     2.0
75%      50.000000    28.900000     3.266667  ...    30.425000    31.181651     2.0
max      59.000000    34.600000    10.100000  ...    80.100000    37.332811     2.0

[8 rows x 23 columns]

In [16]:
cl4.describe()

               num  temperature    windspeed  ...          CDH           TW  corona
count  1176.000000  1176.000000  1176.000000  ...  1176.000000  1176.000000  1176.0
mean     18.285714    27.502296     3.365986  ...    17.580867    29.725131     2.0
std      11.748861     1.941143     2.800834  ...    18.028803     2.061047     0.0
min       9.000000    22.100000     0.000000  ...   -23.900000    24.521506     2.0
25%      10.000000    26.100000     1.700000  ...     3.425000    28.265435     2.0
50%      12.000000    27.200000     2.700000  ...    14.500000    29.384820     2.0
75%      30.000000    28.800000     4.200000  ...    30.600000    31.082260     2.0
max      42.000000    33.600000    22.500000  ...    73.300000    36.551888     2.0

[8 rows x 23 columns]

In [17]:
cl5.describe()

               num  temperature    windspeed  ...          CDH           TW  corona
count  1008.000000  1008.000000  1008.000000  ...  1008.000000  1008.000000  1008.0
mean     28.500000    27.792262     2.584127  ...    20.956581    30.021352     2.0
std      13.896339     2.175193     1.414674  ...    20.608268     2.348077     0.0
min       5.000000    23.900000     0.000000  ...   -18.400000    25.767393     2.0
25%      21.000000    26.266667     1.466667  ...     6.550000    28.409913     2.0
50%      30.000000    27.466667     2.400000  ...    16.700000    29.646858     2.0
75%      34.000000    28.900000     3.266667  ...    31.600000    31.181651     2.0
max      51.000000    34.600000     8.100000  ...    75.600000    37.332811     2.0

[8 rows x 23 columns]

#### LGBM 모델링

##### cluster1

In [18]:
cl1_x = cl1.drop('temperature', axis = 1)
cl1_y = cl1[['temperature']]

In [19]:
test.drop('date_time', axis = 1, inplace = True)

In [21]:
cross = KFold(n_splits = 5, shuffle = True, random_state = 42)
folds = []
for train_idx, valid_idx in cross.split(cl1_x, cl1_y):
  folds.append((train_idx, valid_idx))

In [23]:
models={}
for fold in range(5):
    print(f'===================={fold+1}=======================')
    train_idx, valid_idx=folds[fold]
    X_train=cl1_x.iloc[train_idx, :]
    y_train=cl1_y.iloc[train_idx, :]
    X_valid=cl1_x.iloc[valid_idx, :]
    y_valid=cl1_y.iloc[valid_idx, :]
    
    model=LGBMRegressor(n_estimators=100)
    model.fit(X_train, y_train, eval_set=[(X_train, y_train), (X_valid, y_valid)], 
             early_stopping_rounds=30, verbose=100)
    models[fold]=model
    
    print(f'================================================\n\n')

====================1=======================

ValueError: ignored